<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @lancamento.descricao %>
</p>

<p>
  <b>Valor:</b>
  <%= @lancamento.valor %>
</p>

<p>
  <b>Date:</b>
  <%= @lancamento.date %>
</p>

<p>
  <b>Centro de custo:</b>
  <%= @lancamento.centro_de_custo %>
</p>


<%= link_to 'Edit', edit_lancamento_path(@lancamento) %> |
<%= link_to 'Back', lancamentos_path %>
